.idea/
.vscode/
.DS_Store
.env
.env.example
.env.local
.env.testing
.env.staging
.env.production
.env.development
.env.ci
.env.local.example
.env.testing.example
.env.staging.example
.env.production.example
.env.development.example
.env.ci.example
.env.local.staging
.env.testing.staging
.env.staging.staging